/firststep/ex2/.idea/*

/firststep/ex2/.gradle/*
/firststep/ex2/build/*
/firststep/ex2/out/*

/firststep/ex2/gradlew
/firststep/ex2/gradlew.bat
/firststep/ex2/gradle/*



/secondstep/profiles-api/.idea/*

/secondstep/profiles-api/.gradle/*
/secondstep/profiles-api/build/*
/secondstep/profiles-api/out/*

/secondstep/profiles-api/gradlew
/secondstep/profiles-api/gradlew.bat
/secondstep/profiles-api/gradle/*



/secondstep/places-api/.idea/*

/secondstep/places-api/.gradle/*
/secondstep/places-api/build/*
/secondstep/places-api/out/*

/secondstep/places-api/gradlew
/secondstep/places-api/gradlew.bat
/secondstep/places-api/gradle/*
secondstep/iOSClient/HuaweiCliend.xcworkspace/xcuserdata/aminbenarieb.xcuserdatad

/secondstep/iOSClient/Pods/*
/secondstep/iOSClient/Podfile.lock
/final/iOSClient/Pods/*
/final/iOSClient/Podfile.lock


/final/auth-api/.idea/*
/final/auth-api/.gradle/*
/final/auth-api/build/*
/final/auth-api/out/*
/final/auth-api/gradlew
/final/auth-api/gradlew.bat
/final/auth-api/gradle/*

/final/token-api/.idea/*
/final/token-api/.gradle/*
/final/token-api/build/*
/final/token-api/out/*
/final/token-api/gradlew
/final/token-api/gradlew.bat
/final/token-api/gradle/*
final/iOSClient/HuaweiCliend.xcworkspace/xcuserdata/aminbenarieb.xcuserdatad
final/iOSClient/Emojuirity.xcodeproj/xcuserdata
final/iOSClient/Emojuirity.xcworkspace/xcuserdata/aminbenarieb.xcuserdatad/UserInterfaceState.xcuserstate
final/iOSClient/Emojuirity.xcworkspace/xcuserdata/aminbenarieb.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
